{% load static %}

<header class="section-header">
<nav class="navbar d-none d-md-flex p-md-0 navbar-expand-sm navbar-light border-bottom">
<div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTop4">
    <ul class="navbar-nav mr-auto">
    	<li><span class="nav-link">Hi, <a href="#"> Sign in </a> or <a href="#"> Register </a></span></li>
		<li><a href="#" class="nav-link"> Deals </a></li>
		<li><a href="#" class="nav-link"> Sell </a></li>
		<li><a href="#" class="nav-link"> Help </a></li>
    </ul>
    <ul class="navbar-nav">
		<li><a href="#" class="nav-link"> <img src="{% static 'images/icons/flags/US.png' %}" height="16"> Ship to </a></li>
		<li class="nav-item dropdown">
		 	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">   Watchlist </a>
		    <ul class="dropdown-menu small">
				<li><a class="dropdown-item" href="#">First item</a></li>
				<li><a class="dropdown-item" href="#">Second item</a></li>
				<li><a class="dropdown-item" href="#">Third item </a></li>
		    </ul>
		</li>
		<li><a href="#" class="nav-link"> My shop </a></li>
		<li><a href="#" class="nav-link"> <i class="fa fa-bell"></i> </a></li>
		<li><a href="#" class="nav-link"> <i class="fa fa-shopping-cart"></i> </a></li>
	</ul> <!-- list-inline //  -->
  </div> <!-- navbar-collapse .// -->
</div> <!-- container //  -->
</nav>

<div class="container">
<section class="header-main border-bottom">
<div class="row row-sm">
	<div class="col-6 col-sm col-md col-lg  flex-grow-0">
		<a href="{% url 'home' %}" class="brand-wrap">
			<img class="logo" src="{% static 'images/logo1.png' %}">
		</a> <!-- brand-wrap.// -->
	</div>
	<div class="col-6 col-sm col-md col-lg flex-md-grow-0">

		<!-- mobile-only -->
		<div class="d-md-none float-right">
			<a href="#" class="btn btn-light"> <i class="fa fa-bell"></i> </a>
			<a href="#" class="btn btn-light"> <i class="fa fa-user"></i> </a>
			<a href="#" class="btn btn-light"> <i class="fa fa-shopping-cart"></i> 2 </a>
		</div>
		<!-- mobile-only //end  -->

	</div> <!-- col.// -->
	<div class="col-lg-6 col-xl col-md-5 col-sm-12 flex-grow-1">
		<form action="#" class="search-header">
			<div class="input-group">
			    <input type="text" class="form-control" placeholder="Search">
		    </div>
		</form> <!-- search-wrap .end// -->
	</div> <!-- col.// -->
	<div class="col col-lg col-md flex-grow-0">
	    <button class="btn btn-block btn-warning" type="submit"> Search </button>
	</div>
	<div class="col col-lg col-md flex-grow-0">
	    <button class="btn btn-block btn-light" type="submit"> Advanced </button>
	</div>
</div> <!-- row.// -->
</section> <!-- header-main .// -->


<nav class="navbar navbar-main navbar-expand pl-0">
      <ul class="navbar-nav flex-wrap">
      	<li class="nav-item">
           <a class="nav-link" href="{% url 'home' %}">Home</a>
		</li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop' %}">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fashion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Beauty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Motors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gardening</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Deals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Under $10</a>
        </li>
      </ul>
</nav> <!-- navbar-main  .// -->

</div> <!-- container.// -->
</header> <!-- section-header.// -->
