	{% extends 'base.html' %}

{% block content %}

<section class="section-content bg-white padding-y">
<div class="container">

<!-- ============================ ITEM DETAIL ======================== -->
	<div class="row">
		<aside class="col-md-6">
<div class="card">
<article class="gallery-wrap">
	<div class="img-big-wrap">
	  <div> <a href="#"><img src="{{single_item.images.url}}"></a></div>
	</div> <!-- slider-product.// -->
</article> <!-- gallery-wrap .end// -->
</div> <!-- card.// -->
		</aside>
		<main class="col-md-6">
<article class="product-info-aside">

<h2 class="title mt-3">{{single_item.item_name}} </h2>

<div class="rating-wrap my-3">
	<ul class="rating-stars">
		<li style="width:80%" class="stars-active">
			<i class="fa fa-star"></i> <i class="fa fa-star"></i>
			<i class="fa fa-star"></i> <i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
		</li>
		<li>
			<i class="fa fa-star"></i> <i class="fa fa-star"></i>
			<i class="fa fa-star"></i> <i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
		</li>
	</ul>
	<small class="label-rating text-muted">132 reviews</small>

</div> <!-- rating-wrap.// -->

<div class="mb-3">
	<var class="price h4">{{single_item.price}} vnd</var>

</div> <!-- price-detail-wrap .// -->


{% if single_item.category.category_name == 'Book' %}
<dl class="row">
  <dt class="col-sm-3">Publisher</dt>
  <dd class="col-sm-9"><a href="#">{{ single_item.get_item_book.book.publisher.pub_name }}</a></dd>

  <dt class="col-sm-3">Author</dt>
  <dd class="col-sm-9">{{ single_item.get_item_book.book.author.author_name }}</dd>

  <dt class="col-sm-3">Category</dt>
  <dd class="col-sm-9">{{ single_item.get_item_book.book.bookcategory.cate_name }}</dd>
</dl>

{% elif single_item.category.category_name == 'Clothes' %}
<dl class="row">
  <dt class="col-sm-3">Brand</dt>
  <dd class="col-sm-9"><a href="#">{{ single_item.get_item_clothes.clothes.clothesbrand.br_name }}</a></dd>

  <dt class="col-sm-3">Category</dt>
  <dd class="col-sm-9">{{ single_item.get_item_clothes.clothes.clothescategory.cate_name }}</dd>
</dl>

{% elif single_item.category.category_name == 'Laptop' %}
<dl class="row">
  <dt class="col-sm-3">Brand</dt>
  <dd class="col-sm-9"><a href="#">{{ single_item.get_item_laptop.laptop.laptopbrand.br_name }}</a></dd>

  <dt class="col-sm-3">RAM</dt>
  <dd class="col-sm-9">{{ single_item.get_item_laptop.laptop.laptopram.ram_name }}</dd>

	<dt class="col-sm-3">Chip</dt>
  <dd class="col-sm-9">{{ single_item.get_item_laptop.laptop.chip }}</dd>

</dl>

{% elif single_item.category.category_name == 'Smartphone' %}
<dl class="row">
  <dt class="col-sm-3">Brand</dt>
  <dd class="col-sm-9"><a href="#">{{ single_item.get_item_smartphone.smartphone.smartphonebrand.br_name }}</a></dd>

  <dt class="col-sm-3">Memory</dt>
  <dd class="col-sm-9">{{ single_item.get_item_smartphone.smartphone.memory.size }}</dd>
</dl>


{% endif %}

  {% if single_item.stock <= 0 %}
	<h5>Out of stock</h5>
	{% else %}
	{% if check_cart %}
	<div class="form-row  mt-4">

	 <div class="form-group col-md">
		 <a href="#"  class="btn  btn-success">
			 <i class="fas fa-check"></i> <span class="text">Added to cart</span>
		 </a>
	 </div> <!-- col.// -->
 </div> <!-- row.// -->
	{% else %}
	<div class="form-row  mt-4">

		<div class="form-group col-md">
			<a href="{% url 'add_to_cart' single_item.id %}"  class="btn  btn-primary">
				<i class="fas fa-shopping-cart"></i> <span class="text">Add to cart</span>
			</a>
		</div> <!-- col.// -->
	</div> <!-- row.// -->
	{% endif %}
{% endif %}
</article> <!-- product-info-aside .// -->
		</main> <!-- col.// -->
	</div> <!-- row.// -->

<!-- ================ ITEM DETAIL END .// ================= -->


</div> <!-- container .//  -->
</section>


<section class="section-name padding-y bg">
<div class="container">

<div class="row">
	<div class="col-md-8">
		<h5 class="title-description">Customer review</h5>
		<p>
			Lava stone grill, suitable for natural gas, with cast-iron cooking grid, piezo ignition, stainless steel burners, water tank, and thermocouple. Thermostatic adjustable per zone. Comes complete with lava rocks. Adjustable legs. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.
		</p>




	</div> <!-- col.// -->

	<aside class="col-md-4">

		<div class="box">

		<h5 class="title-description">Description</h5>
			<p>
			  {{single_item.description}}
			</p>

    <h5 class="title-description">Videos</h5>


    <article class="media mb-3">
      <a href="#"><img class="img-sm mr-3" src="images/posts/3.jpg"></a>
      <div class="media-body">
        <h6 class="mt-0"><a href="#">How to use this item</a></h6>
        <p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
      </div>
    </article>

    <article class="media mb-3">
      <a href="#"><img class="img-sm mr-3" src="images/posts/2.jpg"></a>
      <div class="media-body">
        <h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
        <p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
      </div>
    </article>

    <article class="media mb-3">
      <a href="#"><img class="img-sm mr-3" src="images/posts/1.jpg"></a>
      <div class="media-body">
        <h6 class="mt-0"><a href="#">New tips and tricks</a></h6>
        <p class="mb-2"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin </p>
      </div>
    </article>



	</div> <!-- box.// -->
	</aside> <!-- col.// -->
</div> <!-- row.// -->

</div> <!-- container .//  -->
</section>


{% endblock %}
